<p id="notice"><%= notice %></p>

<h1>Listing Transcripts</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Story ID</th>
      <th>Date</th>
      <th>Links</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transcripts.each do |transcript| %>
      <tr>
        <td><%= transcript.title %></td>
        <td><%= transcript.story_id %></td>
        <td><%= transcript.date.strftime('%F %R') %></td>
        <td>
          <%= link_to 'Story', transcript.url_link, target: '_blank' %> |
          <%= link_to 'MP3', transcript.audio_link, target: '_blank'%> |
          <%= link_to 'XML', download_transcript_path(id: transcript.id), 'data-turbolinks' => false %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
