<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @transcript.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transcript.date %>
</p>

<p>
  <strong>Story link:</strong>
  <%= @transcript.story_link %>
</p>

<p>
  <strong>Audio link:</strong>
  <%= @transcript.audio_link %>
</p>

<p>
  <strong>Text:</strong>
  <%= @transcript.text %>
</p>

<%= link_to 'Edit', edit_transcript_path(@transcript) %> |
<%= link_to 'Back', transcripts_path %>
