<% provide(:title, "#{@search.phrase}") %>

<%= "Found #{@search.results.count} hits for the phrase \"#{@search.phrase}\" in
 #{@search.transcript_count} transcripts." %> <br>

<%= link_to "Download CSV", download_search_path(id: @search.id), 'data-turbolinks' => false %><br>

<table class='table table-striped table table-condensed'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Paragraph</th>
      <th>Links</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <% transcript = result.transcript %>
      <tr>
        <td><%= transcript.title %></td>
        <td><%= transcript.date.strftime('%F') %></td>
        <td><%= result.paragraph %></td>
        <td>
          <%= link_to 'Story', transcript.url_link, target: '_blank' %>|
          <%= link_to 'MP3', transcript.audio_link, target: '_blank'%>|
          <%= link_to 'XML', download_transcript_path(id: get_transcript_id(result)), 'data-turbolinks' => false %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <%= paginate @results %>
</table>
